.gridTableHeader {
  display: flex;
  justify-content: center;
  font-family: "PIXY";
}
.gridTableHeader .head {
  width: 1200px;
}
.gridTableHeader .head h1 {
  height: 50px;
  font-size: 150px;
  color: #ffffff;
}
.gridTableHeader .head p {
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 1px;
}

.containerForAllGames {
  display: grid;
  justify-self: center;
  width: 1200px;
  min-height: 800px;
  margin: 5%;
  align-items: center;
}
.containerForAllGames .adminInfo {
  display: flex;
  height: 220px;
  margin-bottom: 10px;
}
.containerForAllGames .adminInfo .adminDescription {
  margin-left: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.containerForAllGames .adminInfo .adminDescription .adminTitle {
  background: rgba(255, 255, 255, 0.0823529412);
  color: #ffffff;
  font-family: "PIXY";
  margin: 0;
  margin-top: 10px;
  padding: 20px;
  letter-spacing: 1.5px;
}
.containerForAllGames .adminInfo .adminDescription li {
  background: rgba(255, 255, 255, 0.0823529412);
  color: #ffffff;
  font-family: "PIXY";
  padding: 10px;
  letter-spacing: 1.5px;
}
.containerForAllGames .adminInfo .btnForChanges {
  width: 400px;
  height: 200px;
  display: grid;
  grid-template-columns: 74% 26%;
  align-self: center;
}
.containerForAllGames .adminInfo .btnForChanges .addNewGame {
  margin-left: 10px;
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.0823529412);
  transition: all 0.3s;
  border: none;
}
.containerForAllGames .adminInfo .btnForChanges .addNewGame:hover {
  background: rgba(255, 255, 255, 0.1450980392);
  transition: all 0.3s;
}
.containerForAllGames .adminInfo .btnForChanges .addNewGame:hover img {
  opacity: 100%;
}
.containerForAllGames .adminInfo .btnForChanges .addNewGame img {
  transition: all 0.3s;
  opacity: 50%;
  width: 30px;
  height: 30px;
}
.containerForAllGames .adminInfo .btnForChanges .addBtn {
  width: 100%;
  height: 90px;
  background: rgba(255, 255, 255, 0.0823529412);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: "PIXY";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5647058824);
  margin-bottom: 10px;
  gap: 20px;
}
.containerForAllGames .adminInfo .btnForChanges .addBtn:hover {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1450980392);
  transition: all 0.3s;
}
.containerForAllGames .adminInfo .btnForChanges .addBtn:hover img {
  opacity: 100%;
}
.containerForAllGames .adminInfo .btnForChanges .addBtn img {
  transition: all 0.3s;
  width: 30px;
  height: 30px;
  opacity: 30%;
}
.containerForAllGames #gridTable {
  width: 1200px;
  display: grid;
}
.containerForAllGames #gridTable .gameCard {
  width: auto;
  text-decoration: none;
  height: 65%;
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: 10% 75% 15%;
  grid-template-rows: 15% 15% 45% 20%;
  padding: 20px;
  font-family: "PIXY";
  color: #ffffff;
  background: linear-gradient(rgba(255, 255, 255, 0.0823529412), rgba(255, 255, 255, 0.062745098));
  border-bottom: 1px solid #ffffff;
  letter-spacing: 1px;
  transition: all 0.3s;
}
.containerForAllGames #gridTable .gameCard:hover {
  transition: all 0.3s;
  border-bottom: 1px solid #ff0000;
  box-shadow: 0px 2px #ff0000;
  background: linear-gradient(rgba(255, 255, 255, 0.2078431373), rgba(255, 255, 255, 0.062745098));
}
.containerForAllGames #gridTable .gameCard img {
  grid-column: 1;
  width: 90px;
  height: 120px;
  grid-row: 1/4;
}
.containerForAllGames #gridTable .gameCard #name {
  grid-column: 2;
  color: #ffffff;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.containerForAllGames #gridTable .gameCard #date {
  grid-column: 2;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5843137255);
}
.containerForAllGames #gridTable .gameCard #description {
  grid-column: 2;
  width: 400px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5843137255);
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  overflow: hidden;
}
.containerForAllGames #gridTable .gameCard .scoreCont {
  display: flex;
  grid-column: 2;
  grid-row: 4;
  align-items: center;
}
.containerForAllGames #gridTable .gameCard .scoreCont #score {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  background-color: #00ce7a;
  color: #000000;
  font-size: 17px;
  margin-right: 5px;
}
.containerForAllGames #gridTable .gameCard .scoreCont #scoreText {
  font-family: "PIXY";
  color: #ffffff;
  font-size: 12px;
  margin-top: 4px;
}
.containerForAllGames #gridTable .gameCard .btnCon {
  grid-column: 3;
  grid-row: 1/all;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.containerForAllGames #gridTable .gameCard .btnCon #setBtn {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.062745098);
  transition: all 0.2s;
  margin-right: 10px;
  background-image: url("/icon/pen.png");
  background-size: 25px 25px;
}
.containerForAllGames #gridTable .gameCard .btnCon #setBtn:hover {
  border: 1px solid rgba(255, 255, 255, 0.5647058824);
  transition: all 0.2s;
}
.containerForAllGames #gridTable .gameCard .btnCon #deleteBtn {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.062745098);
  transition: all 0.2s;
  margin-right: 10px;
  background-image: url("/icon/remove.png");
  background-size: 30px 30px;
}
.containerForAllGames #gridTable .gameCard .btnCon #deleteBtn:hover {
  border: 1px solid rgba(255, 255, 255, 0.5647058824);
  transition: all 0.2s;
}

/*# sourceMappingURL=admin.css.map */
