@import url("https://fonts-online.ru/fonts/pixy");
@font-face {
	font-family: 'PIXY bold'; 
	src: url("/font/Pixy.ttf"); 
}
.futureTable{
    width: 100%;
    height: 553px;
    font-family: 'PIXY';
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .futureMes{
        font-size: 40px;
    }
    .futureDesc{
        font-size: 30px;
    }
    img{
        width: 150px;
        height: 150px;
    }
}