@import url("https://fonts-online.ru/fonts/pixy");
@font-face {
	font-family: 'PIXY bold'; 
	src: url("/font/Pixy.ttf"); 
}
@media (max-width: 767px) {
    .logo{
        display: flex!important;
        align-items: center!important;
        justify-content: center!important;
        text-decoration: none!important;
        .name{
            font-size: 18px!important;
        }
        .img{
            width: 30px!important;
            background-size:30px 30px!important;

        }
    }

    #kabinet{
        position: absolute !important;
        z-index: 999 !important;
        transform: translate(-80%, 50%) !important;
        #closeKab{
            display: block !important;
        }

    }
    .pages{
        display: none !important;
    }
    .DropDownPages{
        display: block !important; 
    }
    .searchCont{
        display: block !important;
    }
    #searchInput{
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 991px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
header{
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #ffffff50;
    background-color: rgba(0, 0, 0, 0.7);
    filter: blur(10%);
    gap: 2%;
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: 0.2s;
        &:hover{
            .img{
                background-image: url("/icon/logo.gif");
            }
            .name{
                color: rgb(255, 0, 0);
                transition: color 0.2s;
            }
        }
        .img{
            width: 50px;
            height: 50px;
            background-image: url("/icon/logo.png");
            background-size: 50px 50px;
            background-position: center;
            background-repeat: no-repeat;
        }
        .name{
            display: flex;
            align-items: center;
            color: rgb(255, 255, 255);
            font-family: 'PIXY';
            font-size: 25px;
            transition: color 0.2s;
        }
    }
    .DropDownPages{
        font-family: "PIXY";
        display: none;
        .menu{
            width: 35px;
            height: 35px;
            font-size: 30px;
            color: #ffffff;
            background-color: #000000;
            border: none;
            transition: all 0.3s;
            cursor: pointer;
            &:hover{
                color: #000000;
                background-color: #ffffff;
            }
            &:active{
                color: #000000;
                background-color: #ffffff;
            }
        }
        .openMenu{
            position: absolute;
            display: none;
            background-color: #1a1a1a;
            padding: 15px;
            z-index: 1;
            text-align: left;
            box-shadow: 7px 7px 0px 0px #ffffff;
            border: 2px solid #ffffff;
            border-top: none;
            border-bottom: none;
            line-height: 25px;
            span{
                display: flex;
                color: #ffffff90;
                font-size: 20px;
                padding: 10px;
            }
            a{
                text-decoration: none;
                font-size: 15px;
                display: block;
                color: white;
                transition: all 0.2s;
                &:hover{
                    transition: all 0.2s;
                    color: red;
                    transform: translate3d(5px, 0px, 0px);
                }
            }
        }
    }
    .pages{
        @media (max-width: 767px) {
            display: none;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            display: none;
        }
        height: 100%;
        font-family: 'PIXY';
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        a{
            padding: 10px;
            text-decoration: none;
            color: #ffffff90;
            transition: all 0.2s;
            white-space: nowrap;
            &:hover{
                transition: all 0.2s;
                color: red;
            }
        }
        .dropdown {
            position: relative;
            &:hover{
                 .dropdown-content{
                    display: block;
                }
            }
            .dropdown-content {
                position: absolute;
                display: none;
                background-color: #1a1a1a;
                padding: 15px;
                min-width: 400px;
                z-index: 1;
                text-align: left;
                box-shadow: 7px 7px 0px 0px #ffffff;
                border: 2px solid #ffffff;
                border-top: none;
                border-bottom: none;
                .column{
                    line-height: 10px;
                    width:49%;
                    list-style: none;
                    float:left;
                    p{
                        display: flex;
                        color: #ffffff90;
                        font-size: 20px;
                        cursor: default;
                    }
                    a{
                        font-size: 15px;
                        display: block;
                        color: white;
                        &:hover{
                            color: red;
                            transform: translate3d(5px, 0px, 0px);
                        }
                    }
                    #allKat{
                        color: #ffffff90;
                        font-size: 15px;
                        &:hover{
                            color: #ff0000;
                        }
                    }
                }
            }
        }
    }
    .input-container {
        position: relative;
        .searchCont{
            display: none;
            #searchBtn{
                width: 35px;
                height: 35px;
                font-size: 30px;
                background-color: #000000;
                border: 1px solid #000000;
                border: none;
                transition: all 0.3s;
                cursor: pointer;
                &:hover{
                    color: #000000;
                    border: 1px solid #ffffff;
                }
                &:active{
                    color: #000000;
                    border: 1px solid #ffffff;
                }
                img{
                    width: 20px;
                    height: 20px;
                }
            }
            #openSearch{
                display: none;
            }
        }
        #searchInput{
            height: 30px;
            border: 2px solid #ffffff;
            background-color: #ffffff20;
            border-top: none;
            border-bottom: none;
            font-family: 'PIXY';
            font-size: 16px;
            outline: none;
            box-shadow: 7px 7px 0px 0px #ffffff;
            transition: all 0.3s;
            color:#ffffff;
            &:focus {
                box-shadow: none;
                transition: all 0.3s;
            }
            &:focus ~ .topline {
                width: 100%;
                transition: all 0.3s;
            }
            &:focus ~ .underline {
                width: 100%;
                transition: all 0.3s;
                input:focus ~ .label {
                    top: -10px;
                    transform: scale(1);
                    transition: all 0.3s;
                }
            }
        }
        #searchResults{
            margin-top: 1px;
            position: absolute;
            font-family: 'PIXY';
            .cont{
                width: 356px;
                padding: 5px;
                color: #ffffff;
                text-decoration: none;
                display: grid;
                background-color: #1a1a1a;
                grid-template-columns: 25% 75%;
                grid-template-rows: 30% 30% 35% 5%;
                transition: all .3s;
                border-bottom: 1px solid #1a1a1a;
                &:hover{
                    background-color: #303030;
                    border-bottom: 1px solid red;
                    transform: translateX(10px) ;
                    transition: all .3s;
                }
                .searchPrewiew{
                    display: flex;
                    width: 80px;
                    height: 110px;
                    grid-column: 1;
                    grid-row: 1 / all;
                }
                .searchName{
                    font-size: 20px;
                    display: flex;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    grid-column: 2;
                    grid-row: 1;
                }
                .gameGenre{
                    display: flex;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    grid-column: 2;
                    grid-row: 2;
                }
                .releseDate{
                    display: flex;
                    flex-wrap: nowrap;
                    grid-column: 2;
                    grid-row: 3;
                }
                .searchColorLine{
                    grid-column: 2;
                    grid-row: 4;
                    width: 100%;
                    height: 5px;
                }
            }
        }
        .topline {
            position: absolute;
            content: "";
            background-color: #ffffff;
            width: 0%;
            height: 2px;
            right: 0;
            top: 0;
            transition: all 0.3s;
        }
        .underline {
            position: absolute;
            content: "";
            background-color: #ffffff;
            width: 0%;
            height: 2px;
            right: 0;
            bottom: 0;
            transition: all 0.3s;
        }
    }
    .RegContainer{
        height: 100%;
        display: flex;
        align-items: center;
        gap: 10px; 
        #openRegForm, #showKab, #adminButton{
            width: 100%;
            height: 45%;
            background: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            border: none;
            font-family: 'PIXY';
            font-size: 16px;
            cursor: pointer;
            position: relative;
            z-index: 1;
            overflow: hidden;
            &:hover {
                color: rgb(255, 255, 255);
            }
            &:after {
                content: "";
                background: rgb(0, 0, 0);
                position: absolute;
                z-index: -1;
                left: -20%;
                right: -20%;
                top: 0;
                bottom: 0;
                transform: skewX(-45deg) scale(0, 1);
                transition: all 0.5s;
            }
            &:hover:after {
                transform: skewX(-45deg) scale(1, 1);
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
            }
        }
        #kabOverlay{
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }
        #kabinet{
            position: absolute;
            display: none;
            background-color: #1a1a1a;
            padding: 15px;
            z-index: 1;
            box-shadow: 7px 7px 0px 0px #ffffff;
            border: 2px solid #ffffff;
            width: 250px;
            height: 300px;
            margin-top: 370px;
            .kabTable{
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: auto 10% 35% auto;
                width: 100%;
                height: 100%;
                color: #ffffff;
                font-family: 'PIXY';
                align-items: center;
                .kabHead{
                    grid-row: 1;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    #closeKab{
                        display: none;
                        width: 35px;
                        height: 35px;
                        background-color: transparent;
                        border: none;
                        background-image: url("/icon/close.png");
                        background-size: 20px;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    .kabHeader{
                        font-size: 25px;
                    }
                }
                .nameText{
                    grid-row: 2;
                    justify-self: baseline;
                    align-self:baseline;
                }
                .emailText{
                    grid-row: 3;
                    justify-self: baseline;
                    align-self:baseline;
                }
                #logOut{justify-self: center;
                    grid-row: 4;
                    width: 100px;
                    height: 40px;
                    background: rgb(255, 255, 255);
                    color: rgb(0, 0, 0);
                    border: none;
                    font-family: 'PIXY';
                    font-size: 18px;
                    position: relative;
                    z-index: 1;
                    overflow: hidden;
                    cursor: pointer;
                    &:hover {
                        color: rgb(255, 255, 255);
                        border: 1px solid #ffffff;
                    }
                    &:after {
                        content: "";
                        background: #1a1a1a;
                        position: absolute;
                        z-index: -1;
                        left: -20%;
                        right: -20%;
                        top: 0;
                        bottom: 0;
                        transform: skewX(-45deg) scale(0, 1);
                        transition: all 0.5s;
                    }
                    &:hover:after {
                        transform: skewX(-45deg) scale(1, 1);
                        -webkit-transition: all 0.5s;
                        transition: all 0.5s;
                    }
                }
            }
        }
    }
}
