@import url("https://fonts-online.ru/fonts/pixy");
@font-face {
	font-family: 'PIXY bold'; 
	src: url("/font/Pixy.ttf"); 
}
@media (max-width: 767px) {
    .MostPopularPlatform{
        width: 400px !important;
        .Title{
            grid-template-columns: 90% 10% !important;
            margin-bottom: 20px !important;
            .TitleText{
                h1{
                    font-size: 20px !important;
                }
                .NewGame{
                    font-size: 13px !important;
                }
            }
            .funcBtn{
                gap: 5px !important;
            }
        }
        .full{
            display: none !important;
        }
        .min{
            display: block !important;
        }
        .cards{
            width: 380px !important;
            grid-template-columns: 29% 51% 20% !important;
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 991px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
.MostPopularPlatform{
    width: max-content;
    height: max-content;
    margin: 5%;
    display: flex;
    flex-flow: column;
    justify-self: center;
    font-family: 'PIXY';
    .Title{
        display: grid;
        text-align: center;
        align-items: center;
        grid-template-columns: 95% 5%;
        grid-template-rows: 40% 50%;
        width: 100%;
        height: 90px;
        margin-bottom: 0.5%;
        .TitleText{
            display: flex;
            align-items: center;
            gap: 2%;
            width: 100%;
            &:hover{
                color: #ffffff;
            }
            h1{
                font-family: 'PIXY';
                color: #ffffff;
                letter-spacing: 3px;
            }
            .NewGame{
                color: #ffffff90;
                font-family: 'PIXY';
                transition: all 0.1s;
            }
        }
        .funcBtn{
            grid-row: span 2;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20%;
            .btn{
                width: 30px;
                height: 30px;
                border: none;
                color: #ffffff;
                background-color: transparent;
                font-weight: bold;
                font-size: 20px;
                margin-top: 10px;
                cursor: pointer;
                transition: all 0.2s;
                &:hover{
                    color: red;
                }

            }
        }
        .PlatformList{
            width: 97.5%;
            font-family: 'PIXY';
            .platforms{
                padding: 0;
                display: flex;
                justify-content:flex-start;
                list-style: none;
                border-top: 1px solid #ffffff;
                li{
                    transition: all 0.2s;
                    margin-right: 10px;
                    padding-top: 5px;
                    transition: border-color 0.3s, color 0.3s;
                    button{
                        height: 17px;
                        border: none;
                        background-color: transparent;
                        font-family: 'PIXY';
                        color: #ffffff90;
                        font-size: 15px;
                        .min{
                            display: none;
                        }
                    }
                    .active{
                        transition: all 0.2s ease-in-out;
                        color: #ffffff;
                    }
                }
            }
        }
    }
    .containerForGames{
        width: 1200px;
        display: flex;
        line-height: 0;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-behavior: smooth;
        scrollbar-width: none;
        @media (max-width: 767px) {
            width: 500px;
          }
          @media (min-width: 768px) and (max-width: 991px) {
            width: 800px;
          }
          @media (min-width: 991px) and (max-width: 1199px) {
            width: 900px;
          }
          @media (min-width: 1200px) {
            width: 1200px;
          }
          #widthCnt{
            width: max-content;
            display: flex;
            .cards{
                width: 580px;
                padding: 10px;
                height: 150px;
                font-family: 'PIXY';
                display: grid;
                grid-template-columns: 19% 51% 30%;
                grid-template-rows: 48% 48% 2%;
                margin-right: 10px;
                text-decoration: none;
                color: inherit;
                transition: all .2s;
                &:hover{
                    transition: all .2s;
                    background-color: #ffffff10;
                    .names{
                        color: red;
                        transition: all .2s;
                    }
                }
                img{
                    grid-row: 1 / all;
                    width: 100px;
                    height: 150px;
                }
                .names{
                    transition: all .2s;
                    line-height: normal;
                    display: inline-block;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    color: white;
                    font-size: 20px;
                    grid-column: 2;
                    grid-row: 1;
                }
                #Score{
                    width: 60px;
                    height: 60px;
                    font-size: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    justify-self:self-end;
                    background-color: green;
                }
                .PlatformName{
                    grid-column: 2;
                    grid-row: 2;
                    font-size: 15px;
                    padding-inline: 10px;
                    width: max-content;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-self: center;
                    color: white;
                    background-color: transparent;
                    border: 1px solid #ffffff;
                }
                .acclaimText{
                    display: flex;
                    align-items: center;
                    justify-self: end;
                    font-size: 12px;
                    color: #ffffff;
                    grid-column: 3;
                }
                .scoreLine{
                    grid-column: 2 / all;
                    background-color: green;
                    width: 100%;
                    height: 6px;
                }
            }  
        }
    }
}